## ëª¨ë“ˆ ì„í¬íŠ¸
* ë””ë„ìŠ¤ëŠ” ë¨¹ì´ì§€ ë§ì time

In [1]:
import pandas as pd
import numpy as np
import time

import re


from selenium import webdriver
from selenium.webdriver.chrome.options import Options

## ê³„íš ë³€ê²½ë¨
* í¬ë¡¤ë§í•  ë°ì´í„°ëŠ” ê°€ì§„ ë°ì´í„°ì—ì„œ ë¦¬ë·° 370ê°œ ì´ìƒì¸ ë°ì´í„° ì•½ 1400ê°œ
  * ë¦¬ë·°ëŠ” ì´ë¯¸ ìˆìœ¼ë‹ˆ ì•ˆ ê°€ì ¸ì˜´
  * ì•„ë§ˆ country, descriptionë§Œ ê°€ì ¸ì˜¬ë“¯
  * ê·¸ë˜ì„œ ë¨¼ì € ë¦¬ë·°ë°ì´í„°ì—ì„œ ë§¥ì£¼ë§Œ ì¤‘ë³µì œê±°í•œí›„ ì‚¬ìš©
* ì•„ì˜¤ 110369ê°œ ìˆëŠ”ì¤„ ì•Œì•˜ëŠ”ë°
  * ìƒê°í•´ë³´ë‹ˆ id ì œëŒ€ë¡œ ì•ˆì“´ ë¹ŒëŸ°ë“¤ì´ ìˆì—ˆëŠ”ë° ê·¸ê²Œ ì‚¬ì‹¤ ì›ë˜ ìˆë˜ê±°ë¼ ê²¹ì³ì„œ ê¼¬ì„

In [2]:
with open('C:/Users/SSAFY/Downloads/SNAP-Ratebeer.txt', encoding="cp1252") as file:
    lines = file.readlines()

In [3]:
# ë°ì´í„° ì¶”ì¶œ ë° ì „ì²˜ë¦¬
data = []
current_beer = {}
for line in lines:
    if line.strip():  # ë¹ˆ ì¤„ì´ ì•„ë‹Œ ê²½ìš°
        key, value = line.strip().split(':', 1)  # ì²«ë²ˆì§¸ ':'ë§Œ ìŠ¤í”Œë¦¿ì— ì´ìš©í•¨, ì™œëƒë©´ :ë¥¼ ì“´ ê¸€ì´ ìˆìŒ;
        current_beer[key] = value.strip()
    else:  # ë¹ˆ ì¤„ì¸ ê²½ìš° í˜„ì¬ ë§¥ì£¼ ì •ë³´ë¥¼ ë°ì´í„°ì— ì¶”ê°€í•˜ê³  ì´ˆê¸°í™”
        data.append(current_beer)
        current_beer = {}

# ë§ˆì§€ë§‰ ë§¥ì£¼ ì •ë³´ë¥¼ ì¶”ê°€
if current_beer:
    data.append(current_beer)

# ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë³€í™˜
df = pd.DataFrame(data)

In [4]:
# beer_df = df[['beer/name', 'beer/beerId', 'beer/brewerId', 'beer/ABV', 'beer/style']].drop_duplicates()
# ë§¥ì£¼ ì •ë³´ë§Œ ê°€ì ¸ì™€ì„œ ìƒˆ ë°ì´í„°í”„ë ˆì„, ê° ë§¥ì£¼ë‹¹ ë¦¬ë·° ëª‡ê°œì¸ì§€ ì…ˆ
beer_df = df[['beer/name', 'beer/beerId', 'beer/brewerId', 'beer/ABV', 'beer/style']]
beer_df['count'] = beer_df.groupby(['beer/beerId'])['beer/beerId'].transform('count')
beer_df.drop_duplicates(['beer/beerId'], inplace=True)
beer_df = beer_df.reset_index(drop=True)

C:\Users\SSAFY\AppData\Local\Temp\ipykernel_9656\1643181419.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  beer_df['count'] = beer_df.groupby(['beer/beerId'])['beer/beerId'].transform('count')
C:\Users\SSAFY\AppData\Local\Temp\ipykernel_9656\1643181419.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  beer_df.drop_duplicates(['beer/beerId'], inplace=True)

In [5]:
# ì•„ì´ë””ì— ë¬¸ìì—´ ì³ë„£ì€ ë¹ŒëŸ° ì œê±°
for i in range(110369):
    try:
        # ë§Œì•½ intë¡œ ì•ˆë°”ë€Œë©´(ë¬¸ìë©´) ì—ëŸ¬ ë°œìƒ, ê·¸ë‹ˆê¹Œ ìˆ«ìë¡œ ë°”ê¿ˆ(ë³´ë‹ˆê¹Œ -ê¸°ì¤€ ì˜¤ë¥¸ìª½ì´ idì˜€ìŒ)
        int(beer_df.loc[i, 'beer/beerId'])
    except:
        # print(i)
        beer_df.loc[i, 'beer/beerId'] = beer_df.loc[i, 'beer/beerId'].split('-')[-1]
# int(df.loc[86075, 'beer/beerId'])

In [18]:
beer_df = beer_df.groupby('beer/beerId').agg({
    'beer/name' : 'first',
    # 'beer/beerId' : 'first',
    'beer/brewerId' : 'first',
    'beer/ABV' : 'first',
    'beer/style' : 'first',
    'count' : 'sum',
}).reset_index()

In [19]:
beer_df.loc[beer_df['beer/beerId']=='91690']

,beer/beerId,beer/name,beer/brewerId,beer/ABV,beer/style,count
104170,91690,La Saint-Pierre Blonde de l`Oncle Hansi,5546,5.6,Belgian Ale,31

In [6]:
# ì´ì œ ë¦¬ë·°ê°€ 370ê°œ ì´ìƒ ë‹¬ë¦° ë§¥ì£¼ë§Œ ì¶”ë ¤ì„œ ë¦¬ìŠ¤íŠ¸ë¡œ ë§Œë“¤ê±°ì„
filtered_df = beer_df[beer_df['count'] > 370]
filtered_df = filtered_df.reset_index(drop=True)

many_review_beer = list(filtered_df['beer/beerId'])
for i in range(len(many_review_beer)):
    many_review_beer[i] = int(many_review_beer[i])

In [7]:
# beers = pd.DataFrame(columns=['beer_id', 'name', 'abv', 'rating', 'class_name', 'country', 'description', 'image_path'])
beers = pd.DataFrame(columns=['beer_id', 'country', 'description'])
beers

Empty DataFrame
Columns: [beer_id, country, description]
Index: []

In [ ]:
# ìƒìˆ˜ë“¤
# MORE_THAN = 1000

### í•„ìš” í•¨ìˆ˜

In [ ]:
# 'reviews (1,234)' ê°™ì€ í˜•ì‹ ìˆ«ìë¡œ ë°”ê¾¸ê¸°(ë‹¤ë¥¸í˜•ì‹ ì ˆëŒ€ ë„£ìœ¼ë©´ ì•ˆë¨)
# def review_to_numb(reviews : str):
#     reviews = reviews.replace(',', '')
#     return int(reviews[9:-1])
# ids = []

### ì§„ì§œ í¬ë¡¤ë§ í•˜ëŠ” ì½”ë“œ

In [8]:
from selenium.webdriver.common.by import By
import random


driver = webdriver.Chrome()
# urlì´ ê·¸ëƒ¥ ë²ˆí˜¸ë§Œ ë°”ê¾¸ë©´ ë˜ì„œ ì´ê±¸ë¡œ í•¨
url = 'https://www.ratebeer.com/beer/hite-black-beer-stout/'
# ëª‡ë²ˆë¶€í„° ëª‡ë²ˆê¹Œì§€
for i in many_review_beer:
    # 5%ì˜ í™•ë¥ ë¡œ 30ì´ˆ ì‰¼
    if ((random.random()*100) <= 5):
        time.sleep(10)
    
    # ë³€ìˆ˜ ì´ˆê¸°í™”
    # click_numb = 0

    # ë“¤ì–´ê°„ í›„ ì ê¹ ëŒ€ê¸°
    driver.get(url + f'{i}/')
    driver.set_window_size(900, 900)
    time.sleep(5)

    # ë¦¬ë·° ê°œìˆ˜ ì„¸ê¸°(1000ê°œ ì´í•˜ ìˆ˜ì§‘ ì•ˆí•¨)(ì´ë¯¸ ìˆìœ¼ë‹ˆê¹Œ ì•ˆì…€ê±°ì„)
    # try:  # ë§Œì•½ ì‹œë„í–ˆëŠ”ë° ì—†ìœ¼ë©´ ë„˜ì–´ê°
    #     reviews = driver.find_element(By.XPATH, '//*[@id="root"]/div[2]/div[2]/div/div/div/div[2]/div[4]/div/div[1]/div').text
    #     # click_numb = review_to_numb(reviews)//15
    #     if (review_to_numb(reviews) < MORE_THAN):
    #         continue
    #     else:
    #         ids.append(i)
    #         click_numb = review_to_numb(reviews)//15
    # except:
    #     continue



    # show more í´ë¦­ ì‹œë„
    try:
        show_more_element = driver.find_element(By.XPATH, '//*[@id="root"]/div[2]/div[2]/div/div/div/div[2]/div[1]/div/div[4]/button')
        driver.execute_script("arguments[0].click();", show_more_element)
    except:
        continue
    
    time.sleep(1)

    # ë°ì´í„° ë³€ìˆ˜, í•œë²ˆ ì‹œë„í•´ë³´ê³  ì•ˆë˜ë©´ íƒˆì¶œ
    beer_id = i
    try:
        # ì„±ê³µí•˜ë©´ ë¦¬ë·° í¬í•¨ ì „ë¶€ë‹¤ ê¸ì–´ì˜´
        # name = driver.find_element(By.XPATH, '//*[@id="root"]/div[2]/div[2]/div/div/div/div[2]/div[1]/div/div[2]/div[1]/div/div[1]/div/div[1]').text
        # abv = driver.find_element(By.CLASS_NAME, 'MuiTypography-root.bRPQdN.MuiTypography-caption').text
        # class_name = driver.find_element(By.CLASS_NAME, 'MuiTypography-root.Text___StyledTypographyTypeless-bukSfn.kbrPIo.colorized__WrappedComponent-hrwcZr.liJcHu').text
        country = driver.find_element(By.XPATH, '//*[@id="root"]/div[2]/div[2]/div/div/div/div[2]/div[1]/div/div[2]/div[1]/div/div[2]/div[3]/div[1]/span').text
        description = driver.find_element(By.XPATH, '//*[@id="root"]/div[2]/div[2]/div/div/div/div[2]/div[1]/div/div[2]/div[2]').text
        # image_path = driver.find_element(By.XPATH, '//*[@id="root"]/div[2]/div[2]/div/div/div/div[2]/div[1]/div/div[2]/div[1]/img').get_attribute('src')
        # í•©ì¹˜ê¸°ìš© ìƒˆ ë°ì´í„°í”„ë ˆì„
        newdf = pd.DataFrame({
            'beer_id' : [i],
            # 'name' : [name],
            # 'abv' : [abv],
            # 'class_name' : [class_name],
            'country' : [country],
            'description' : [description],
            # 'image_path' : [image_path],
        })
        beers = pd.concat([beers, newdf])
        # ë¦¬ë·° ë°ì´í„° ë‹¤ ê°€ì ¸ì˜¤ëŠ” ì‹œë„(ì•ˆí• ê±°ì„)
        # for j in range(click_numb):
        #     tmp = []
        #     next_button = driver.find_element(By.XPATH, '//*[@id="root"]/div[2]/div[2]/div/div/div/div[2]/div[4]/div/div[3]/div[16]/div[2]/div/div[3]/button[2]')
        #     review_info = driver.find_elements(By.CSS_SELECTOR, '.px-4.fj-s.f-wrap')
        #     for k in review_info:
        #         tmp.append({'beer_id' : i, 'review_inf' : k.text})
        #     df = pd.DataFrame(tmp)
        #     beer_review = pd.concat([beer_review, df])
        #     driver.execute_script("arguments[0].click();", next_button)
        #     time.sleep(0.5)
    except:
        pass

### ì´ì œ beersë³€ìˆ˜ì˜ ê¸ì–´ì˜¨ ë°ì´í„°ë“¤ì´ ë‹®ê²¨ìˆì„í…Œë‹ˆ ì´ê±°ë¥¼
* beer_dfì™€ í•©ì¹¨ nullê°’ 11ë§Œê°œ;;
* ì•„ë‹ˆ ë°ì´í„° íƒ€ì…ì´ ë‹¬ë¼ì„œ ë¨¸ì§€ê°€ ì•ˆëë„¼ã…‹
*

In [21]:
# idë•Œë¬¸ì— ë¬¸ì œê°€ ìƒê²¨ì„œ csvê°€ì ¸ì™€ì„œ ì½ìŒ
beers = pd.read_csv('./merged_table.csv')
beers

,index,beer/name,beer/beerId,beer/brewerId,beer/ABV,beer/style,count,country,description
0,352,Chimay Rouge &#40;Red&#41; / PremiÃ¨re,51,12,7,Abbey Dubbel,2383,ğŸ‡§ğŸ‡ª,"Bottle Conditioned - 75 cl, and 33 cl bottles...."
1,353,Chimay Bleue &#40;Blue&#41; / Grande RÃ©serve,53,12,9,Belgian Strong Ale,3056,ğŸ‡§ğŸ‡ª,"Bottle conditioned - 150 cl, 75 cl, and 33 cl ..."
2,354,Chimay Triple / Blanche &#40;White&#41; / Cin...,52,12,8,Abbey Tripel,2275,ğŸ‡§ğŸ‡ª,"Chimay Tripel, with its typical golden colour,..."
3,758,The Duck-Rabbit Barleywine,67542,5175,11,Barley Wine,415,ğŸ‡ºğŸ‡¸,The Duck-Rabbit Barelywine is the hoppiest of ...
4,766,The Duck-Rabbit Baltic Porter,63820,5175,9,Baltic Porter,681,ğŸ‡ºğŸ‡¸,"The Duck-Rabbit Baltic Porter is deep, rich an..."
...,...,...,...,...,...,...,...,...,...
1461,110230,Pyramid Audacious Apricot Ale,50036,154,5.1,Fruit Beer,842,ğŸ‡ºğŸ‡¸,Our flavorful apricot ale boldly combines the ...
1462,110237,Pyramid Curve Ball Blonde Ale,14272,154,5,KÃ¶lsch,398,ğŸ‡ºğŸ‡¸,Inspired by the traditional KÃ¶lsch style beers...
1463,110254,Pyramid Thunderhead India Pale Ale,953,154,6.7,India Pale Ale &#40;IPA&#41;,731,ğŸ‡ºğŸ‡¸,We heap the hops into each batch of our Thunde...
1464,110267,Pyramid Snow Cap Ale,957,154,7,English Strong Ale,735,ğŸ‡ºğŸ‡¸,"Winter Warmer. A rich, full-bodied winter warm..."
1465,110276,Pyramid Haywire Hefeweizen,951,154,5.2,German Hefeweizen,833,ğŸ‡ºğŸ‡¸,The standard by which all other wheat beers ar...

In [23]:
beers
beers['beer/beerId'] = beers['beer/beerId'].astype(str)
type(beers.loc[0,'beer/beerId'])

str

In [24]:
beer_df
beer_df['beer/beerId'] = beer_df['beer/beerId'].astype(str)
type(beer_df.loc[0,'beer/beerId'])

str

In [31]:
# ë¨¸ì§€í•¨, leftì¡°ì¸
complete_beer_df = beer_df.merge(beers[['beer/beerId', 'description', 'country']], left_on='beer/beerId', right_on='beer/beerId', how='left')
complete_beer_df

,beer/beerId,beer/name,beer/brewerId,beer/ABV,beer/style,count,description,country
0,1,Beamish Irish Stout,184,4.1,Dry Stout,989,Filtered and pasteurised. Available in nitro c...,ğŸ‡®ğŸ‡ª
1,100,Nutfield Auburn Ale,19,4.6,Irish Ale,63,NaN,NaN
2,10000,Dithmarscher Pilsener,1790,4.8,Classic German Pilsener,76,NaN,NaN
3,100001,Partners &#40;Anglo Dutch&#41; Aspistus,2810,4,Golden Ale/Blond Ale,4,NaN,NaN
4,100009,Golden City JavapeÃ±o Imperial Stout,1160,8.5,Imperial Stout,8,NaN,NaN
...,...,...,...,...,...,...,...,...
110359,9999,Heartland Cornhusker Lager,6516,4.75,Pale Lager,117,NaN,NaN
110360,99990,Big Horn Texas Moon,249,4.3,Wheat Ale,3,NaN,NaN
110361,99992,Big Horn Frostbite Belgian Triple,249,7.5,Abbey Tripel,3,NaN,NaN
110362,99996,Goldmalt Pilsner 12Â°,8555,-,Pilsener,3,NaN,NaN
110363,99997,Meantime Chocolate Porter &#40;5.5% draught ve...,1158,5.5,Baltic Porter,9,NaN,NaN

In [54]:
complete_beer_df.drop(columns=['beer_id'], inplace=True)

In [33]:
# ì¼ë‹¨ dbì— ë°•ìŒ ì‹œê°„ì´;
from sqlalchemy import create_engine
engine = create_engine('postgresql://sulleong:Sulleong104**@sulleong.site:5432/sulleong')
complete_beer_df.to_sql('beer_merged', engine)

364

In [ ]:
# 'https://ratebeer-datasets.s3-us-west-2.amazonaws.com/SNAP-Ratebeer.txt.gz'  # ì´ê±°ëŠ” ê·¸ ë°ì´í„°ì…‹ ê°€ì ¸ì˜¨ url

# ìš”ê±°ëŠ” 
# beer_review.to_csv('./myreview.txt', encoding='utf8')
# beer_review.reset_index(drop=True)

## ì´ê±° ì½”í…Œí• ë•Œ í•¨ ë³´ë©´ ì¡°ì„ë“¯ã…‹

In [ ]:
# ids = input().split(",")
# visit = [False] * 101
# for id in ids:
#     visit[int(id)] = True

# for i in range(1, 101):
#     if not visit[i]:
#         print(i, end = " ")

## (ë³€ê²½ì „ ê³„íš)í¬ë¡¤ë§í•  ë°ì´í„° / ë¦¬ë·° 1000ê°œ ì´í•˜ë©´ ë¬´ì‹œí• ê±°ì„
* beer_id : (ratebeer ê¸°ì¤€)
* name : (ì˜ì–´ë§Œ)
* abv : ì•Œì½œ ë„ìˆ˜
* rating : í‰ê·  ë ˆì´íŒ…(í•„ìš”í•œê°€?)
* class_name : ratebeer ê¸°ì¤€ ë¶„ë¥˜
* country : ë‚˜ë¼(KR, US ë“±..)
* description : ê·¸ëƒ¥ ì„¤ëª…(ì˜ì–´)
* image_path

### ë¦¬ë·°
* ì´ê±¸ ë‹¤ ê¸ì„ê¹Œ...?
* 1000ê°œ ë‹¤ ê¸ì„ê¹Œ ì•„ë‹ˆë©´ ì¼ë¶€ë§Œ ê¸ì„ê¹Œ
* ì´ê²ƒë„ ì‹œê°„ ì œí•œ ì¡°ê¸ˆì€ ë‘¬ì•¼ í•¨